<p>

  <p>
    <mat-toolbar color="Accent">
      <mat-icon>build</mat-icon>
      <span>Click for Bootstrap Practice </span>
      <span class="example-spacer"></span>
      <button mat-raised-button color="accent" routerLink="/bootStrap"> BootStrap Code</button>
    </mat-toolbar>
  </p>

  <!-- <p>
  <mat-toolbar color="primary">
      <mat-icon>person</mat-icon>
    <span>Puneet is great and awesome</span>
    <span class="example-spacer"></span>
    <button routerLink="/productmanage">Product Manage</button>
  </mat-toolbar>
</p>

<p>
  <mat-toolbar color="primary">
  
      <mat-icon>people</mat-icon>
    <span>Click for User Details </span>
    <span class="example-spacer"></span>
    <button routerLink="/user-details"> Manage User</button>
  </mat-toolbar>
</p>

<p>
  <mat-toolbar color="Accent">
  	<mat-icon>assignment</mat-icon>
    <span>Click for Array Practice </span>
    <span class="example-spacer"></span>
    <button mat-raised-button color="accent" routerLink="/arrayassignment"> Array Code</button>
  </mat-toolbar>
</p> -->

<router-outlet></router-outlet>

