<p>
  <mat-toolbar color="primary">
  
      <mat-icon>person</mat-icon>
    <span>Puneet is great and awesome</span>
    <span class="example-spacer"></span>
    <button routerLink="/productmanage">Product Manage</button>
  </mat-toolbar>
</p>

<p>
  <mat-toolbar color="primary">
  
      <mat-icon>people</mat-icon>
    <span>Click for User Details </span>
    <span class="example-spacer"></span>
    <button routerLink="/user-details"> Manage User</button>
  </mat-toolbar>
</p>



<router-outlet></router-outlet>

